<div class="mx-auto" style="width: 40%">

<p id="notice"><%= notice %></p>


<p>
  <strong>Match:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Match:</strong>
  <%= @team.matches_played %>
</p>

<p>
  <strong>Match:</strong>
  <%= @team.matches_won %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
</div>