<div class="row margin-top-50">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 ">
		<% if current_user == @user or current_user.role == "admin"%>

			<h1>Editing Product Details</h1>

			<%= render 'form' %>

			<br>
			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %>
		<%elsif current_user%>
			You can edit your details only
			<%= link_to 'Back', users_path %>
		<%else%>
			Please login	
			<%= link_to 'Back', users_path %>
			<%= link_to 'Login', new_user_session_path %>
		<%end%>				
	</div>
</div>		
