<div class="row margin-top-50">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 ">

		<h1>User Details</h1>

		<% if !@user.blank? %>
		<table>
			<tr>
				<th>User ID</th>
				<th>User Name</th>
				<th>User Role</th>
			</tr>
			<tr>
					<td><%= @user.id %></td>
					<td><%= @user.first_name%></td>
					<td><%= @user.role %></td>
			</tr>
			<tr>
				<td><%= link_to 'Edit Details', edit_user_path(@user) %></td>
				<td><%= link_to 'Delete This user', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<td colspan="2"><%= link_to "Back to List", users_path %></td>
			</tr>
		</table>
		<% else %>
		<h2>Can't find the user. Action?</h2>
		<table>
			<tr>
				<td><%= link_to 'Select A user', users_path %></td>
				<td><%= link_to "Create New user", new_user_path %></td>
			</tr>
		</table>
		<% end %>
	</div>
	<div class="col-lg-4 col-md-4"></div>

</div>		